body {
    //height: 130%;
    margin:auto;
    width: 80%;
  float: unset;
background-color: aliceblue;
}
   .content {
     max-width: 800px;
     margin: auto;
}
     h1{
        color:darkblue;
        font-size:48px;
        font-weight:bold;
        font-family:"Courier New",monospace;
        text-align: center;
     
}
      p{ 
      
      
        color: darkblue;
        font:18px;
     text-align: center;
        font-family:"Arial";
}
   ul {
       list-style-type: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 200px;
      text-align: center;
}   
  table th, td {
  padding: 15px;
  text-align: left;
}
  
     img { 
         display: block;
         margin: auto;
         float: left;
}
     h2{
        color:purple;
        font:20px
        font-family:"Courier New";

}
    div.gallery {
 position:center;
 margin: 5px;
  border: 1px solid #ccc;
  width: 250px;
  text align: center;
  display: inline-block;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
#container { width: 800px; margin: 0 auto;
} 